/* ==========================================================================
   Helpers
   ========================================================================== */

.centered {
  width:400px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-65px 0 0 -200px;
}

.hidden {
  display: none;
}

/* ==========================================================================
   Variables
   ========================================================================== */

$icon-height: 80px;
$icon-boldness: 10px;
$button-big-size: 269px;

/* Fonts
   ======================================= */
$base-font-size: 18px;
$base-font-family: 'Roboto', sans-serif;

/* ==========================================================================
   Load partial stylesheets
   ========================================================================== */

@import 'homemade-grid';
@import 'animation-entry';
@import 'general-style';


